<ng-container *ngIf="forcastTableConfig">
	<div class="d-flex overflow-auto align-items-center justify-centent-center">
		<table class="table table-striped table-inverse">
			<thead class="thead-inverse">
				<tr>
					<th>Found City</th>
					<th *ngFor="let item of forcastTableConfig.tempColumns">
						{{ item.colValue }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!isLoading; else loading" class="text-center">
					<td scope="row">
						<h3>{{ forcastTableConfig?.city?.name }}</h3>
						<h4>({{ forcastTableConfig?.city?.country }})</h4>
						<p>{{ forcastTableConfig?.city?.tempValue }} K</p>
					</td>
					<td *ngFor="let item of forcastTableConfig.tempColumns">{{ item?.colTemp }} K</td>
				</tr>
				<ng-template #loading>
					<tr>

						<td class="text-center p-5" [colSpan]="2 + forcastTableConfig.tempColumns.length">

							<div>
								<img width="50px" src="assets/svgs/spinner-transparent.svg" />
								Loading forecast...
							</div>
						</td>
					</tr>
				</ng-template>
			</tbody>
		</table>
	</div>
</ng-container>
